#projects
{
    margin-top: 100px;
    margin-bottom: 140px;
    /* min-height: calc(100vh - 100px); */
    /* height: calc(100vh - 300px); */
}

.projectsWrapper
{
    /* display: flex; */
    width: 80vw;
    margin: auto;
}

/* .title
{
    border-bottom: 2px solid grey;
} */

.project
{
    display: flex;
    flex-direction: column;
    /* border-bottom: 2px solid grey; */
}

.project:last-child
{
    border-bottom: 2px solid grey;
}



.project h3
{
    border-top: 2px solid grey;
}

.projectDetails
{
    margin-left: 2vw;
    width: 78vw;
}

.projectDetailsInner
{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.projectDetailsInner2
{
    display: flex;
    justify-content: space-between;
}

.projectDetailsInner2 p
{
    max-width: 1000px;
}

.excellenceAward
{
    margin-left: 20px;
}

.projectDetails2
{
    margin-left: 2vw;
    width: 78vw;
    display: flex;
}

.projectDetails3
{
    margin-left: 2vw;
    width: 78vw;
    display: flex;
    justify-content: space-between;
}

.projectDetails p a
{
    text-decoration: none;
    color: goldenrod;
}

.projectDetails p a:hover
{
    color: black;
}

.projectDetails2 p a
{
    text-decoration: none;
    color: goldenrod;
}

.projectDetails2 p a:hover
{
    color: black;
}

.projectImages
{
    display: flex;
    max-width: 78vw;
    justify-content: flex-end;
}

.projectImagesInner
{
    display: flex;
    overflow: auto;
}

.projectImagesInner span
{
    margin-left: 20px;
}

span img
{
    width: 400px;
    height: 300px;
}

span p
{
    font-size: .7em;
}

/* .slider
{
    width: 80vw;
    overflow: hidden;
} */

.projectImagesSlider
{
    width: 75vw;
    height: 400px;
    overflow: hidden;
    z-index: 0;
}

.slide
{
    display: flex;
    flex-direction: column;
}

.slide p
{
    font-size: 0.7em;
}

.img
{
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
    width: 400px;
    height: 300px;
    margin-right: 20px;
}

