#navbar
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #12500E;
    width: 100vw;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100px;
}

#innerNav
{
    display: flex;
    width: 82vw;
    justify-content: space-between;
}

#titleWrapper
{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    /* margin-left: 200px; */
    padding-bottom: 10px;
}

#title
{
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size: 1.3em;
    vertical-align: 50%;
    /* justify-content: space-around; */
}

/* #title:hover
{
    color: goldenrod;
} */

#logo
{
    padding-top: 40px;
    height: 100px;
    width: 100px;
}

#navMenu
{
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.navLinks
{
    display: flex;
    padding: 20px;
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

.navLinks:hover
{
    color: goldenrod;
    transform: scale(1.2);
}

.navLinks:active
{
    transform: scale(1.2);
}

@media (max-width: 1500px)
{
    #title
    {
        font-size: 1em;
    }
    #logo
    {
        height: 35px;
        width: 35px;
    }
}